@import "./abstracts/variables";

.about-toggle {
  position: fixed;
  cursor: pointer;
  right: 2%;
  padding: 1.5% 3%;

  @include breakpoint(xsmobile) {
    padding: 2% 3%;
    bottom: -4%;
  }
  @include breakpoint(mobile) {
    padding: 2% 3%;
    bottom: -3%;
  }
  @include breakpoint(xlmobile) {
    padding: 2% 3%;
    bottom: -3%;
  }

  @include breakpoint(tablet) {
    padding: 1.5% 3%;
    bottom: -2.6%;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100vh;
  width: 80%;
  margin: 0 auto;

  .about-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: $opacity-dark;
    background-color: $white;
    box-shadow: 25px 25px 50px #dbdbdb, -25px -25px 50px #ffffff;

    @include breakpoint(xsmobile) {
      padding: 2em 0 1em 0;
      height: 80%;
      width: 100%;
      margin-top: -8%;
      align-content: space-around;
      justify-content: space-around;
    }

    @include breakpoint(mobile) {
      padding: 3em 0 1em 0;
      height: 75%;
      width: 100%;
      margin-top: -8%;
      align-content: space-around;
      justify-content: space-around;
    }

    @include breakpoint(mobile) {
      padding: 3em 0 1em 0;
      height: 75%;
      width: 100%;
      margin-top: -6%;
      align-content: space-around;
      justify-content: space-around;
    }

    @include breakpoint(xlmobile) {
      padding: 4em 0 1em 0;
      height: 75%;
      width: 90%;
      margin-top: -3%;
      align-content: space-around;
      justify-content: space-around;
    }

    @include breakpoint(tablet) {
      height: 80%;
      width: 85%;
      margin-top: -3%;
      padding: 5em 1em 2em 0;
      align-content: space-around;
      justify-content: space-around;
    }

    @include breakpoint(laptop) {
      height: 76%;
      width: 80%;
      padding: 6em 0 2em 0;
      margin-top: -4%;
    }

    .about-text-wrapper {
      @include breakpoint(xsmobile) {
        display: flex;
        flex-flow: column-reverse;
        align-content: space-around;
        margin: 1.5em 1em 0 1em;
        overflow: scroll;
      }

      @include breakpoint(mobile) {
        display: flex;
        flex-flow: column-reverse;
        align-content: space-around;
        margin: 0.5em 1em 0 1em;
        overflow: scroll;
      }

      @include breakpoint(xlmobile) {
        display: flex;
        flex-flow: column-reverse;
        margin: 0.5em 1em 0 1em;
        overflow: scroll;
      }

      @include breakpoint(tablet) {
        display: flex;
        flex-flow: column-reverse;
        margin: 1em 1em 0 1em;
        overflow: visible;
      }

      @include breakpoint(laptop) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1em 2em 0 2em;
        // overflow: scroll;
      }
    }

    .about-text {
      align-self: center;

      @include breakpoint(xsmobile) {
        width: 95%;
        // height: 60%;
      }

      @include breakpoint(mobile) {
        width: 90%;
      }

      @include breakpoint(xlmobile) {
        width: 85%;
      }

      @include breakpoint(tablet) {
        width: 80%;
      }

      @include breakpoint(laptop) {
        width: 60%;
      }

      h2 {
        margin-bottom: 1em;

        @include breakpoint(xsmobile) {
          margin-bottom: 0.4em;
          font-size: 1em;
        }

        @include breakpoint(mobile) {
          margin-bottom: 0.4em;
          font-size: 1em;
        }

        @include breakpoint(xlmobile) {
          margin-bottom: 0.6em;
          font-size: 1.2em;
        }

        @include breakpoint(tablet) {
          margin-bottom: 0.8em;
          font-size: 1.2em;
        }

        @include breakpoint(laptop) {
          margin-bottom: 1em;
          font-size: 1.4em;
        }
        @include breakpoint(desktop) {
          font-size: 1.6em;
        }
      }
      p {
        margin: 0.8em 1em;

        @include breakpoint(xsmobile) {
          font-size: 0.8em;
        }

        @include breakpoint(mobile) {
          font-size: 0.8em;
        }

        @include breakpoint(xlmobile) {
          font-size: 0.8em;
        }

        @include breakpoint(tablet) {
          font-size: 0.95em;
        }

        @include breakpoint(laptop) {
          font-size: 0.95em;
        }
        @include breakpoint(desktop) {
          font-size: 1em;
        }
      }
    }
    img {
      border-radius: 50%;
      align-self: center;
      opacity: 1;
      z-index: 1;

      @include breakpoint(xsmobile) {
        width: 6.5em;
        height: 6.5em;
        margin: 1em 1em 1em 1em;
      }

      @include breakpoint(mobile) {
        width: 8em;
        height: 8em;
        margin: 1em;
      }

      @include breakpoint(xlmobile) {
        width: 11em;
        height: 11em;
        margin: 1em;
      }

      @include breakpoint(tablet) {
        width: 11em;
        height: 11em;
        margin: 1em;
      }

      @include breakpoint(laptop) {
        width: 16em;
        height: 16em;
      }
      @include breakpoint(desktop) {
        width: 16em;
        height: 16em;
      }
    }

    .about-footer {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: 0.5em 0.5em;

      .icon {
        margin: 0 0.5em;
        color: $black;

        @include breakpoint(xsmobile) {
          font-size: 1em;
          margin: 0 0.3em;
        }

        @include breakpoint(mobile) {
          font-size: 1em;
          margin: 0 0.3em;
        }

        @include breakpoint(xlmobile) {
          font-size: 1.4em;
        }

        @include breakpoint(tablet) {
          font-size: 1.8em;
        }

        @include breakpoint(laptop) {
          font-size: 2em;
        }

        @include breakpoint(desktop) {
          font-size: 2.6em;
        }
      }
    }
  }
  .about-hero {
    text-transform: uppercase;
    background-color: $black;
    opacity: $opacity-dark;
    text-align: center;
    position: relative;
    bottom: -6%;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint(xsmobile) {
      width: 80%;
      height: 11%;
      padding: 2% 2%;
      margin-top: 4%;
    }

    @include breakpoint(mobile) {
      width: 70%;
      height: 11%;
      padding: 2% 2%;
      margin-top: 4%;
    }
    @include breakpoint(xlmobile) {
      width: 65%;
      height: 15%;
      padding: 2% 0;
    }

    @include breakpoint(tablet) {
      width: 65%;
      height: 15%;
      padding: 2% 0;
    }

    @include breakpoint(laptop) {
      width: 60%;
      height: 15%;
      padding: 2% 0;
      margin-top: 2%;
    }

    @include breakpoint(desktop) {
      width: 58%;
      height: 20%;
      padding: 3% 0;
      margin-top: 2%;
    }

    h1 {
      font-weight: 700;
      letter-spacing: 0.3em;
      @include breakpoint(xsmobile) {
        font-size: 1.1em;
      }

      @include breakpoint(mobile) {
        font-size: 1.1em;
      }

      @include breakpoint(xlmobile) {
        font-size: 1.3em;
      }

      @include breakpoint(tablet) {
        font-size: 1.5em;
      }

      @include breakpoint(laptop) {
        font-size: 2em;
      }

      @include breakpoint(desktop) {
        font-size: 3em;
      }
    }
    h2 {
      font-weight: 300;
      letter-spacing: 0.2em;

      @include breakpoint(xsmobile) {
        font-size: 0.7em;
        margin: 0 0.5em;
      }

      @include breakpoint(mobile) {
        font-size: 0.9em;
        margin: 0 0.5em;
      }

      @include breakpoint(xlmobile) {
        font-size: 1.1em;
        margin: 0 0.5em;
      }

      @include breakpoint(tablet) {
        font-size: 1.1em;
        margin: 0 1em;
      }

      @include breakpoint(laptop) {
        font-size: 1.3em;
      }

      @include breakpoint(desktop) {
        font-size: 1.5em;
      }
    }
  }
}
