@import "./abstracts/variables";
.contact-container {
  position: fixed;
  top: 10%;
  right: 0em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  background-color: black;
  opacity: $opacity-dark;

  @include breakpoint(mobile) {
    height: 8em;
    padding: 0.5em;
  }

  @include breakpoint(xlmobile) {
    height: 10em;
    padding: 0.8em;
  }

  @include breakpoint(tablet) {
    height: 13em;
    padding: 1em;
    min-width: 4em;
  }

  @include breakpoint(laptop) {
    height: 13em;
    padding: 1em;
    min-width: 4em;
  }

  @include breakpoint(desktop) {
    height: 13em;
    padding: 1em;
    min-width: 4em;
  }

  &:hover {
    box-shadow: $box-shadow;
  }

  .icon {
    font-size: 2em;
    margin: 0 0 0 0.1em;
    color: white;
    opacity: $opacity;
    &:hover {
      opacity: 1;
    }

    @include breakpoint(mobile) {
      font-size: 1em;
    }

    @include breakpoint(xlmobile) {
      font-size: 1.5em;
    }

    @include breakpoint(tablet) {
      font-size: 2em;
    }

    @include breakpoint(laptop) {
      font-size: 2em;
    }

    @include breakpoint(desktop) {
      font-size: 2em;
    }
  }
  .linkedin-icon {
    margin-left: 0.12em;
  }

  .envelope-icon {
    // margin: 0;
    font-size: 1.9em;

    @include breakpoint(mobile) {
      font-size: 0.9em;
    }

    @include breakpoint(xlmobile) {
      font-size: 1.4em;
    }

    @include breakpoint(tablet) {
      font-size: 1.9em;
    }

    @include breakpoint(laptop) {
      font-size: 1.9em;
    }

    @include breakpoint(desktop) {
      font-size: 1.9em;
    }
  }
}
