@import "./abstracts/variables";

.portfolio-toggle {
  position: fixed;
  top: -2.5%;
  left: 1%;
  padding: 1.5% 2.42%;

  @include breakpoint(mobile) {
    padding: 2% 2.92%;
  }

  @include breakpoint(tablet) {
    padding: 1.5% 2.42%;
  }
}

.portfolio-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;

  @include breakpoint(mobile) {
    width: 90%;
  }

  @include breakpoint(laptop) {
    width: 80%;
  }

  .portfolio-cards {
    width: 100%;
    opacity: $opacity-dark;
    background-color: white;
    overflow-y: scroll;
    height: 75%;
    box-shadow: 25px 25px 50px #dbdbdb, -25px -25px 50px #ffffff;

    @include breakpoint(mobile) {
      display: flex;
      flex-flow: column nowrap;
      align-content: space-around;
      justify-items: center;
      align-items: center;
      padding: 0em 0.5em 0em 1em;
      margin: -4% 10% 10% 10%;
    }

    @include breakpoint(xlmobile) {
      display: flex;
      flex-flow: column nowrap;
      align-content: space-around;
      justify-items: center;
      align-items: center;
      padding: 0em 1em 0em 1em;
      margin: -3% 10% 10% 10%;
    }

    @include breakpoint(tablet) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      padding: 0em 2em 0em 2em;
      margin: 2% 10% 10% 10%;
    }

    @include breakpoint(laptop) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      padding: 0em 2em 0em 2em;
      margin: 2% 10% 10% 10%;
    }
  }

  .portfolio-card {
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;

    @include breakpoint(mobile) {
      width: 90%;
      margin-top: 3em;
      min-height: 77%;
      max-height: 77%;
    }

    @include breakpoint(xlmobile) {
      margin-top: 5em;
      width: 90%;
      min-height: 75%;
      max-height: 75%;
    }

    @include breakpoint(tablet) {
      margin-top: 4em;
      width: 42%;
      min-height: 85%;
      max-height: 85%;
    }

    @include breakpoint(laptop) {
      width: 42%;
      margin-top: 4em;
      min-height: 90%;
      max-height: 90%;
    }

    @include breakpoint(desktop) {
      width: 42%;
      margin-top: 4em;
      min-height: 90%;
      max-height: 90%;
    }

    img {
      max-width: 85%;
      min-width: 85%;
      min-height: 45%;
      margin: 1em;

      @include breakpoint(xlmobile) {
        max-width: 65%;
        min-width: 65%;
        min-height: 45%;
        margin: 0.5em;
      }

      @include breakpoint(tablet) {
        max-width: 85%;
        min-width: 85%;
        min-height: 45%;
        margin: 0.5em;
      }

      @include breakpoint(laptop) {
        max-width: 85%;
        min-width: 85%;
        min-height: 45%;
        margin: 1em;
      }

      @include breakpoint(desktop) {
        max-width: 85%;
        min-width: 85%;
        min-height: 45%;
        margin: 1em;
      }
    }
    .portfolio-description {
      font-weight: 300;
      font-size: 1em;
      margin: 11%;

      @include breakpoint(mobile) {
        margin: 0;
      }
      @include breakpoint(xlmobile) {
        margin: 2%;
      }

      @include breakpoint(tablet) {
        margin: 5%;
      }

      @include breakpoint(laptop) {
        margin: 11%;
      }
    }

    strong {
      font-weight: 600;
      text-transform: uppercase;
    }

    .portfolio-text {
      min-height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include breakpoint(mobile) {
        padding: 0 3%;
      }

      @include breakpoint(xlmobile) {
        padding: 0 3%;
      }

      @include breakpoint(tablet) {
        padding: 0 3%;
      }

      @include breakpoint(laptop) {
        padding: 0 5%;
      }

      @include breakpoint(desktop) {
        padding: 0 5%;
      }

      @include breakpoint(mobile) {
        font-size: 0.9em;
      }

      @include breakpoint(xlmobile) {
        font-size: 1em;
      }

      @include breakpoint(tablet) {
        font-size: 1.1em;
      }

      @include breakpoint(laptop) {
        font-size: 1.2em;
      }

      @include breakpoint(desktop) {
        font-size: 1.3em;
      }
      .portfolio-techstack {
        margin-top: 10%;

        @include breakpoint(mobile) {
          font-size: 0.8em;
          margin-top: 7%;
        }

        @include breakpoint(xlmobile) {
          font-size: 0.8em;
          margin-top: 3%;
        }

        @include breakpoint(tablet) {
          font-size: 0.9em;
          margin-top: 3%;
        }

        @include breakpoint(laptop) {
          font-size: 0.9em;
        }

        @include breakpoint(desktop) {
          font-size: 1em;
        }
      }
    }

    .portfolio-title {
      width: 100%;
      font-weight: 300;
      border-bottom: 1px solid black;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      padding: 1em 0.5em;
      line-height: 0.8;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include breakpoint(mobile) {
        min-height: 20%;
        max-height: 20%;
        font-size: 0.7em;
      }

      @include breakpoint(xlmobile) {
        min-height: 20%;
        max-height: 20%;
        font-size: 1em;
      }

      @include breakpoint(tablet) {
        min-height: 20%;
        max-height: 20%;
        font-size: 1em;
      }

      @include breakpoint(laptop) {
        min-height: 6%;
        max-height: 6%;
        font-size: 1em;
      }

      @include breakpoint(desktop) {
        min-height: 6%;
        max-height: 6%;
        font-size: 1em;
      }
      h2 {
        padding: 5% 0;
      }
    }
  }

  .portfolio-hero {
    text-transform: uppercase;
    background-color: $black;
    opacity: $opacity-dark;
    text-align: center;
    position: relative;
    bottom: -8%;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint(mobile) {
      width: 70%;
      height: 10%;
      padding: 3% 0;
    }

    @include breakpoint(xlmobile) {
      width: 65%;
      height: 12%;
      padding: 3% 0;
    }

    @include breakpoint(tablet) {
      width: 60%;
      height: 15%;
      padding: 3% 0;
    }

    @include breakpoint(laptop) {
      width: 55%;
      height: 15%;
      padding: 3% 0;
    }

    @include breakpoint(desktop) {
      width: 55%;
      height: 15%;
      padding: 3% 0;
    }
    h1 {
      font-weight: 700;
      letter-spacing: 0.3em;

      @include breakpoint(mobile) {
        font-size: 1.5em;
      }

      @include breakpoint(xlmobile) {
        font-size: 2em;
      }

      @include breakpoint(tablet) {
        font-size: 2.6em;
      }

      @include breakpoint(laptop) {
        font-size: 2.6em;
      }

      @include breakpoint(desktop) {
        font-size: 3em;
      }
    }
  }
}

.react-reveal.portfolio-card:hover {
  transform: scale(1.03);
}
