$bg-primary: #fff;

$opacity: 0.8;
$opacity-light: 0.625;
$opacity-dark: 0.925;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$border-radius: 0px;
$box-shadow: 0 0rem 1rem 0.5em rgba($black, 0.15);
